.app {
  padding: 4px 16px;
}
.btn-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.btn-list .btn {
  border: none;
  border-radius: 20px;
  padding: 8px 24px;
  font-size: 14px;
}